.cartButton {
  padding: 0;
  width: 150px;
  height: 50px;
  background: #fe5f1e;
  border-radius: 30px;
  border: 1px solid #fe5f1e;
  cursor: pointer;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease-in-out;

  &:hover {
    background: darken(#fe5f1e, 5%);
  }

  .cartLine {
    opacity: 0.5;
    padding: 0 10px;
  }

  img {
    margin-right: 5px;
  }
}
