.categories {
  display: flex;
  justify-content: space-between;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;

    li {
      display: flex;
      align-items: center;
      padding: 0 25px;
      margin-right: 40px;
      background: #f9f9f9;
      border-radius: 30px;
      cursor: pointer;
      transition: background 0.2s ease-in-out;

      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.015em;

      &:hover {
        background: darken(#f9f9f9, 2%);
      }

      &:active {
        background: darken(#f9f9f9, 5%);
      }
    }
  }

  .active {
    color: #fff;
    background: #000;

    &:hover {
      background: #000;
    }
  }
}
