.popup {
  display: flex;
  align-items: center;
  position: relative;

  img {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: rotate(90deg);
    }

    &:active {
      transform: rotate(180deg);
    }
  }

  button {
    padding: 0;
    border: none;
    background: #fff;
  }

  p {
    margin: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.015em;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.015em;
    cursor: pointer;
    padding: 12px 20px;

    &.active,
    &:hover {
      background: rgba(254, 95, 30, 0.05);
    }

    &.active {
      font-weight: bold;
      color: #fe5f1e;
    }
  }

  span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.015em;
    color: #fe5f1e;
    border-bottom: 1px dashed #fe5f1e;
    cursor: pointer;

    &:hover {
      color: lighten(#fe5f1e, 15%);
    }
  }

  .list {
    position: absolute;
    right: 0;
    top: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;
    z-index: 1;
  }
}
