.card {
  width: 280px;
  height: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    margin: 10px auto 0;
  }

  img {
    height: 260px;
    width: 260px;
  }

  .options {
    background: #f3f3f3;
    width: 100%;
    margin: 20px auto;
    border-radius: 10px;

    ul {
      padding: 7px;
      margin: 0;
      list-style-type: none;
      display: flex;
      flex: 1;

      &:last-of-type {
        padding-top: 0;
      }

      li {
        padding: 5px;
        margin: 0 5px;
        flex: 1;
        text-align: center;

        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.015em;

        cursor: pointer;
        transition: background 0.3s ease-in-out;

        &:disabled {
          opacity: 0.4;
          pointer-events: none;
        }
      }
    }
  }

  .active {
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
  }

  .actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      width: 120px;
      height: 40px;
      background: #ffffff;
      border: 1px solid #eb5a1e;
      box-sizing: border-box;
      border-radius: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
      cursor: pointer;

      img {
        width: 12px;
        height: 12px;
      }

      p {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #eb5a1e;
        padding: 0;
        margin: 0;
      }

      span {
        background: #eb5a1e;
        height: 22px;
        width: 22px;
        border-radius: 50%;
        padding-top: 2px;

        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        color: #ffffff;
      }
    }

    span {
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 27px;
      letter-spacing: 0.015em;
    }
  }
}
