.header {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.headerLeft {
  display: flex;
  align-items: center;

  h1,
  p {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #7b7b7b;
  }

  img {
    height: 38px;
    width: 38px;
    margin-right: 20px;
  }
}
