body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffdf8c;
  color: #2c2c2c;
  padding: 50px 0;
}

* {
  font-family: 'Inter', system-ui, sans-serif;
  box-sizing: border-box;
}

.wrapper {
  background: #fff;
  max-width: 1400px;
  margin: 0 auto;

  h2 {
    margin: 30px auto;
    padding-left: 50px;
  }
}

.content {
  padding-bottom: 90px;
  margin: 30px 50px 0;
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 50px 50px 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.active {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}
