body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffdf8c;
  color: #2c2c2c;
}

* {
  font-family: 'Inter', system-ui, sans-serif;
  box-sizing: border-box;
}

.wrapper {
  background: #fff;
  max-width: 1400px;
  margin: 50px auto;
}

.content {
  padding: 40px;
}
